.sidebar > .sidebar-links > li > a.sidebar-link {
	font-size: 0.9em;
	line-height: 1.2;
	font-weight: 400;
}

a.sidebar-link {
	padding: .2em;
}

.content__default {
	padding: 10%;	
	// background-color: pink;
}
